body {
  background: url('../Spotify/projeto-inicial-spotify/imagens/ruido.png'),
              linear-gradient(50deg,#C23030,#000000);
  background-attachment: fixed;
  overflow-x: hidden;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.barra-navegacao h1 {
  color: white;
  padding: 10px;
}

.navbar {
  background: rgba(0, 0, 0, 0.6);
  border: none;
}

.postagem {
  margin-top: 100px;
}

.bloco {
  margin-top: 20px;
  background: rgba(0.2, 1, 1, 0.7);
  padding: 10px;
  color: #ffffff;
}

.img-postagem {
  float: left;
	margin: 0 10px 5px 0;
  width: 100px;
}

.postado {
	border-left: 5px solid #ffffff;
	padding-left: 5px;
	display: block;
	margin-top: 10px;
}

.data-postagem {
	font-size: 14px;
	display: block;
}

a:hover {
  text-decoration: none;
  transition: all 0.3;
}

.texto {
  height: 120px;
}
